<ion-header [translucent]="false" translucent="false"  class="ion-border">
  <ion-toolbar>
    
    <ion-buttons slot="start">
        <ion-button color="dark" (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
    </ion-buttons>

    <!-- <ion-buttons slot="end" color="transparent">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->



    <ion-label *ngIf="request" slot="start" class="ddp-size12 ddp-light">RICHIESTA DEL: <span class="ddp-bold">{{ timeRequest }}</span></ion-label>
    <ion-title></ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" fullscreen="true" fullscreen *ngIf="request">
  <div class="ddp-panel ion-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-text-center">RICHIESTA CONSULENZA PER</ion-col>
      </ion-row>
      

      <div *ngIf="request.data_desiderata == null; then thenData else elseData"></div>
      
      <ng-template #thenData>
        <ion-row>
          <ion-col class="ion-text-center ddp-light ddp-size20">{{msgDate}}</ion-col>
            <div class="ddp-msg-date">
              <ion-icon class="ddp-pencil-date" name="pencil" (click)="openStartDate()">
                <ion-datetime 
                #datetimeDate
                [(ngModel)]="dateDate"
                dayShortNames="dom, lun, mar, mer, gio, ven, sab"
                display-format="DDD D MMM YYYY" 
                picker-format="DDD D MMM YYYY"
                [min]="datetimeToday"
                [max]="datetimeEndDate"
                (ionChange)="updateDate()"
                ></ion-datetime>
              </ion-icon>
            </div>
        </ion-row>
      </ng-template>

      <ng-template #elseData>
        <ion-row>
          <ion-col class="ion-text-center ddp-light ddp-size20">{{day}}</ion-col>
        </ion-row>
        <ion-row style="position:relative">
          <ion-col class="ion-text-center ddp-size70" >{{numberDay}}</ion-col>
          <div class="ddp-msg-date">
            <ion-icon class="ddp-pencil-date" name="pencil" (click)="openStartDate()">
              <ion-datetime 
              #datetimeDate
              [(ngModel)]="dateDate"
              dayShortNames="dom, lun, mar, mer, gio, ven, sab"
              display-format="DDD D MMM YYYY" 
              picker-format="DDD D MMM YYYY"
              [min]="datetimeToday"
              [max]="datetimeEndDate"
              (ionChange)="updateDate()"
              ></ion-datetime>
            </ion-icon>
          </div>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center ddp-light ddp-size20">{{month}} {{year}}</ion-col>
        </ion-row>
      </ng-template>


      <div *ngIf="request.ora_desiderata == null; then thenOra else elseOra"></div>
      <ng-template #thenOra>
        <ion-row>
          <ion-col class="ion-text-center ddp-light ddp-size20">{{msgTime}}</ion-col>
          <div class="ddp-msg-time">
            <ion-icon class="ddp-pencil-date" name="pencil" (click)="openStartTime()">
              <ion-datetime 
                #datetimeTime
                [(ngModel)]="dateTime"
                display-format="HH:mm" 
                picker-format="HH:mm"
                (ionChange)="updateTime()"
              ></ion-datetime>
            </ion-icon>
          </div>
        </ion-row>
      </ng-template>

      <ng-template #elseOra>
        <ion-row style="position:relative">
          <ion-col class="ion-text-center ddp-hour">{{stringOraDesiderata}}</ion-col>
          <div class="ddp-msg-time">
            <ion-icon class="ddp-pencil-date" name="pencil" (click)="openStartTime()">
              <ion-datetime 
                #datetimeTime
                [(ngModel)]="dateTime"
                display-format="HH:mm" 
                picker-format="HH:mm"
                (ionChange)="updateTime()"
              ></ion-datetime>
            </ion-icon>
          </div>
        </ion-row>
      </ng-template>




      <ion-row class="ion-padding-top">
        <ion-col class="ion-text-center">
          <div class="request_state ddp-hc ddp-status-{{request.status}} ddp-trash-{{request.trash}}"><span class="letter">{{request.chr_status}}</span>{{request.msg_status}}</div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <ion-list>
    <!-- <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="ion-text-uppercase ion-text-left ddp-light ddp-size12">NOME</ion-col>
          <ion-col class="ion-text-left">{{request.nome}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->
    <ion-item *ngIf="request.nome">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-uppercase ion-text-left ddp-light ddp-sizeSX">NOME</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-left">{{request.nome}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-uppercase ion-text-left ddp-light ddp-sizeSX">EMAIL</ion-col>
        </ion-row>
        <ion-row>
          <!-- <ion-col size="4" class="ion-text-uppercase ion-text-left ddp-light ddp-size12">EMAIL</ion-col> -->
          <ion-col class="ion-text-left" (click)="openEmail(request.email)">{{request.email}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-left ion-text-uppercase ddp-light ddp-size12">VOGLIO ESSERE CONTATTATO TRAMITE {{request.modalita}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="request.telefono">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-uppercase ion-text-left ddp-light ddp-sizeSX">TELEFONO</ion-col>
        </ion-row>
        <ion-row>
          <!-- <ion-col size="4" class="ion-text-uppercase ion-text-left ddp-light ddp-size12">TELEFONO</ion-col> -->
          <ion-col class="ion-text-left" (click)="callNumber(request.telefono)" >{{request.telefono}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="request.contatto_skype">
      <ion-grid >
        <ion-row>
          <ion-col class="ion-text-uppercase ion-text-left ddp-light ddp-sizeSX">SKYPE</ion-col>
        </ion-row>
        <ion-row>
          <!-- <ion-col size="4" class="ion-text-uppercase ion-text-left ddp-light ddp-size12">SKYPE</ion-col> -->
          <ion-col class="ion-text-left">{{request.contatto_skype}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    
    <ion-item> 
      <ion-grid >
        <ion-row>
          <ion-col class="ion-text-uppercase ion-text-left ddp-light ddp-sizeSX">QUESITO</ion-col>
        </ion-row>
        <ion-row class="ddp-row-text">
          <ion-col class="ion-text-left"><div [innerHTML]="request.quesito"></div></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="request.amount">
      <ion-grid>
        <ion-row>
          <ion-col size="8" class="ion-text-uppercase ion-text-left ddp-light ddp-size12">IMPORTO PREVENTIVO</ion-col>
          <ion-col class="ion-text-right ddp-bold">{{request.amount}}€</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="request.email_content" >
      <ion-grid >
        <ion-row>
          <ion-col class="ion-text-uppercase ion-text-left ddp-light ddp-sizeSX">RISPOSTA DEL: <span class="ddp-bold">{{ request.email_time }}</span></ion-col>
        </ion-row>
        <ion-row class="ddp-row-text">
          <ion-col class="ion-text-left"><div [innerHTML]="request.email_content"></div></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer *ngIf="request && request.status == STATUS_0 && request.trash == false" class="ion-text-center ion-no-border">
  <ion-toolbar class="ion-text-center ion-no-border" color="transparent">
    <!-- <button ion-button (click)="Upload()"  full>Upload</button> -->
    <ion-button color="primary" class="ion-text-uppercase ddp-hc" (click)="formulateQuote()">{{MSG_FORMULATE_QUOTE}}</ion-button>
  </ion-toolbar>
</ion-footer>
