ion-header {
    font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    // background-color: #F2F2F2;
}

// ion-toolbar {
//     --ion-background-color:#111D12;
// }

ion-label {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

ion-content {
    font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

ion-item {
    --ion-background-color:rgba(255, 255, 255, 1);
}

ion-textarea { 
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    // max-height: calc(100vh - 360px);
    overflow: hidden;
    margin: 0px;
}

ion-footer ion-button {
    margin-bottom: 20px;
}

ion-icon {
    color: var(--ion-text-color);
}


textarea, input { 
    background: none; 
    outline: none; 
    -webkit-appearance: none; 
    box-shadow: none !important; 
    border: none; 
    --inner-padding-bottom: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-top: 0;
}

.webPage{
    min-height: 400px;
    width: auto;
    border: transparent;
}


