<ion-header [translucent]="false" translucent="false"  class="ion-border ion-no-padding">
  <ion-toolbar color="transparent">
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label *ngIf="request" slot="start" class="ddp-size12 ddp-light">{{LBL_RICHIESTA_DEL}} <span class="ddp-bold">{{ timeRequest }}</span></ion-label>
    <ion-title></ion-title> 
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="request" [fullscreen]="true" fullscreen="true" fullscreen scroll-y="false" class="ion-padding">

  <div class="ddp-panel">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-padding-bottom">
        <ion-col class="ion-text-center ddp-light">{{request.email}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center ddp-overflow ddp-light">{{request.quesito}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list>
    <ion-item (click)="presentAlertPrompt()">
      <ion-label>{{LBL_MODIFICA_IMPORTO}}</ion-label>
      <ion-chip slot="end">
        <ion-label>{{request.amount}}</ion-label>
        <ion-icon name="logo-euro"></ion-icon>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label>{{LBL_MODELLO_RISPOSTA}}</ion-label>
      <ion-select [(ngModel)]="templateSelected" (ngModelChange)="templateFormSelected($event)"  okText="Conferma" cancelText="Annulla">
        <ion-select-option  *ngFor="let template of templates; let idx = index;" [value]="template.title" >{{template.title}}</ion-select-option> 
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="ddp-panel">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-text-left">
        <ion-textarea [(ngModel)]="message" class="ion-no-padding email-content" clearOnEdit="false" autoGrow="true" cols="1" placeholder="Aggiungi un messaggio..."></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
  
<ion-footer class="ion-text-center ion-no-border">
  <ion-toolbar class="ion-text-center ion-no-border" color="transparent">
    <ion-button color="primary" class="ion-text-uppercase ddp-hc" (click)="saveQuotationOnBD()">{{LBL_INVIA_MESSAGGIO}}</ion-button>
  </ion-toolbar>
</ion-footer>

