<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Preventivo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
				<ion-icon name="close"></ion-icon>
			</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header [translucent]="true" translucent="true"  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{request.nome}}
    </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" fullscreen="true" fullscreen class="auto-scroll" *ngIf="request">
  
  <div class="ddp-panel">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-padding-bottom">
        <ion-col class="ion-text-center ddp-light">{{request.email}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center ddp-overflow ddp-light">{{request.quesito}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="7" class="ion-text-uppercase ion-text-left ddp-light ddp-size12">
        <ion-button class="ddp-margin-6v0h" size="small" expand="block" (click)="presentAlertPrompt()">Modifica importo</ion-button>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-chip>
          <ion-label>{{request.price}}</ion-label>
          <ion-icon name="logo-euro"></ion-icon>
        </ion-chip>
        </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-list>
    <!-- <ion-list-header>
      <ion-label>
      </ion-label>
    </ion-list-header> -->
    <ion-item (click)="presentAlertPrompt()">
      <ion-label>Modifica importo</ion-label>
      <ion-chip slot="end">
        <ion-label>{{request.price}}</ion-label>
        <ion-icon name="logo-euro"></ion-icon>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label>Modello risposta</ion-label>
      <ion-select [(ngModel)]="templateSelected" (ngModelChange)="templateFormSelected($event)"  okText="Conferma" cancelText="Annulla">
        <ion-select-option  *ngFor="let template of templates; let idx = index;" [value]="template.title" >{{template.title}}</ion-select-option> 
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="ddp-panel">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-text-left">
        <ion-textarea [(ngModel)]="message" class="ion-no-padding" clearOnEdit="false" rows="6" cols="1" placeholder="Aggiungi un messaggio..."></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-footer class="ion-text-center ion-no-border">
  <ion-toolbar class="ion-text-center ion-no-border" color="transparent">
    <ion-button color="primary" class="ion-text-uppercase ddp-hc" (click)="sendMessage()">Invia messaggio</ion-button>
  </ion-toolbar>
</ion-footer>

<!-- <ion-content>
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header>
        Riepilogo richiesta 
      </ion-list-header>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>{{ quesito }}</h2>
        </ion-label>
      </ion-item>

      <ion-list-header lines="full">
        <ion-label>
          Formula un preventivo di spesa
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Importo €</ion-label>
        <ion-input [(ngModel)]="price" type="number" placeholder="0.00 euro"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Messaggio</ion-label>
        <ion-textarea [(ngModel)]="note" ></ion-textarea>
      </ion-item>
    </ion-list>

     <ion-row>
      <ion-col text-center>
        <ion-button (click)="clickButton()">Send Email</ion-button>
      </ion-col>
    </ion-row>

    <ion-spinner name="bubbles"></ion-spinner>
    
</ion-content> -->