ion-header {
    font-family: "Helvetica";
    font-size: 16px;
    line-height: 1.5;
    // background-color: rgba(0, 0, 0, 0.05);
    // --ion-background-color:rgba(0, 0, 0, 0.05);
}

ion-toolbar {
    // --ion-background-color:#111D12;
}

ion-content {
    // background-color: rgba(0, 0, 0, 0.05);
    --ion-background-color:rgba(0, 0, 0, 0.05);
    font-family: "Helvetica";
    font-size: 16px;
    line-height: 1.5;
}

ion-footer {
    // background-color: rgba(0, 0, 0, 0.05);
}

ion-footer ion-button {
    margin-bottom: 20px;
}

.ddp-panel{
    height: 180px;
    // background-color: rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
}

.ddp-overflow {
    max-height: 112px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
}

.ddp-size18 {
    font-size: 18px;
    line-height: 2;
}
.ddp-bold {
    font-weight: bolder;
}
.ddp-light {
    font-weight: lighter;
}

ion-textarea { 
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
}

textarea, input { 
    background: none; 
    outline: none; 
    -webkit-appearance: none; 
    box-shadow: none !important; 
    border: none; 
    --inner-padding-bottom: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-top: 0;
}

.ddp-margin-6v0h{
    margin: 6px 0;
}
