<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ios title-default hydrated">Richieste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="false">

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullMin="100" pullMax="200"> 
    <ion-refresher-content
      pullingIcon="arrow-down-outline" 
      pullingText="Pull to refresh" 
      refreshingSpinner="crescent"
      refreshingText=""
      ></ion-refresher-content>
  </ion-refresher>

  <ion-virtual-scroll *ngIf="requestList?.length; else emptyTag" #scheduleList [items]="requestList" approxItemHeight="117px">
    <div *virtualItem="let item">
      <app-request [request]="item"></app-request>
    </div>
  </ion-virtual-scroll>

  <ng-template #emptyTag>
    <div  class="ddp-emty ion-text-center ion-padding">
      {{MSG_EMPTY_REQUESTS}}
    </div>
  </ng-template>
  
</ion-content>



<!-- <ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header> -->
  
  <!-- <ion-list>
    <app-request *ngFor="let request of requestList" [request]="request"></app-request>
  </ion-list> -->

  <!-- <main class="container">
    <div class="my-3 p-3 bg-body">
      
      <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
        <img class="me-3" src="./assets/brand/bootstrap-logo-white.svg" alt="" width="48" height="38">
        <div class="lh-1">
          <h1 class="h6 mb-0 lh-1">Header</h1>
          <small>strumenti ricerca e ordinamento</small>
        </div>
      </div>

      <h6 class="border-bottom pb-2 mb-0">Richieste recenti</h6>
      <app-request *ngFor="let request of requestList" [request]="request"></app-request>

      <small class="d-block text-end mt-3">
        <a href="#">paginazione</a>
      </small>

      <div class="d-block align-items-center p-3 my-3 rounded shadow-sm">
        <h1 class="h6 mb-0 lh-1">legenda</h1>
        <small>---</small>
      </div>

    </div>


  </main>


  

</ion-content> -->