<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header> -->


<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>   collapse="condense"-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ios title-default hydrated">Richieste</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <div class="toolbar-content">
      <ion-segment 
      value="consulenza" 
      color="tertiary" 
      scrollable="true"
      mode="ios"
      [(ngModel)]="segmentModel" 
      (ionChange)="segmentChanged($event)">
        <ion-segment-button value="consulenza" checked>
          <ion-label>Consulenze</ion-label>
        </ion-segment-button>
        <ion-segment-button value="appuntamenti">
          <ion-label>Appuntamenti</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar> -->
</ion-header>


<ion-content fullscreen="true">
  
  <ion-virtual-scroll #scheduleList [items]="requestList" approxItemHeight="117px">
    <div *virtualItem="let item">
      <app-request [request]="item"></app-request>
    </div>
  </ion-virtual-scroll>

  <!-- <ion-list #scheduleList>
    <app-request *ngFor="let request of requestList" [request]="request"></app-request>
  </ion-list> -->

  <!-- <ion-list-header [hidden]="shownSessions > 0">
    No Sessions Found
  </ion-list-header> -->

  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="instagram" (click)="openSocial('Instagram', fab)">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>



<!-- <ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header> -->
  
  <!-- <ion-list>
    <app-request *ngFor="let request of requestList" [request]="request"></app-request>
  </ion-list> -->

  <!-- <main class="container">
    <div class="my-3 p-3 bg-body">
      
      <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
        <img class="me-3" src="./assets/brand/bootstrap-logo-white.svg" alt="" width="48" height="38">
        <div class="lh-1">
          <h1 class="h6 mb-0 lh-1">Header</h1>
          <small>strumenti ricerca e ordinamento</small>
        </div>
      </div>

      <h6 class="border-bottom pb-2 mb-0">Richieste recenti</h6>
      <app-request *ngFor="let request of requestList" [request]="request"></app-request>

      <small class="d-block text-end mt-3">
        <a href="#">paginazione</a>
      </small>

      <div class="d-block align-items-center p-3 my-3 rounded shadow-sm">
        <h1 class="h6 mb-0 lh-1">legenda</h1>
        <small>---</small>
      </div>

    </div>


  </main>


  

</ion-content> -->