/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.setting-modal .modal-wrapper {
    --border-radius: 10px;
    --max-height: 75%;
    --max-width: 90%;
    --width: 90%;
    --height: 70%;
    top: 20%;
    // --ion-background-color:#f12000;
    // --border-style: dotted;
    // --border-color: #428cff;
    // border-width: 5px;
  }

.no-scroll {
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
      display: none;
  }
}

// CSS GLOBAL CUSTOM //
.ddp-status-0 {
  background-color: #7D199C;
  .letter {
    background-color: #A230D4;
  }
}

.ddp-status-100 {
  background-color: #BB7616;
  .letter {
    background-color: #E08001;
  }
}

.ddp-status-200 {
  background-color: #91A300;
  .letter {
    background-color: #B1CE00;
  }
}

.ddp-status-300 {
  background-color: #405BAD;
  .letter {
    background-color: #4675E2;
  }
}

.ddp-trash-1 {
  background-color: #704E2B;
  .letter {
    background-color: #705c48;
  }
}

.ddp-size12 {
  font-size: 12px;
  line-height: 2;
}
.ddp-size17 {
  font-size: 17px;
}
.ddp-size18 {
  font-size: 18px;
  line-height: 2;
}
.ddp-size20 {
  font-size: 20px;
}
.ddp-size70 {
  font-size: 70px;
  line-height: 1;
}
.ddp-size90 {
  font-size: 90px;
  line-height: 88px;
}
.ddp-sizeSX {
  font-size: 10px;
  line-height: 1;
}
.ddp-hour{
  font-size: 40px;
  line-height: 1;
}

.ddp-bold {
  font-weight: bolder;
}
.ddp-light {
  font-weight: normal;
}

.ddp-panel {
  height: auto;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.05);
}
.ddp-round {
  height: 100%;
  width: 100%;
  max-width: 50px;
  max-height: 50px;
  --border-radius: 100%;
  border-radius: 100%;
  padding: 0;
  margin:0;
}

.ddp-hc {
  // max-width: 210px;
  display: inline-block;
}   
.ddp-row-title {
  padding-top: 10px;
}
.ddp-row-text {
  padding: 10px 0px;
}
.ddp_tag_date {
  color: #F2F2F7;
  padding: 2px 10px 2px 10px;
  height: auto;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1.5;
  background-color: #333333;
}
.ddp-border-bottom {
  border-bottom: 1px solid #333333;
}





.ddp-margin-6v0h {
  margin: 6px 0;
}

.ddp-item {
  color: #777;
  font-size: 13px;
  font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 18px;
}

.ddp-date {
  font-weight: normal;
  padding-right: 8px;
  font-size: 12px;
}
.ddp-time {
  font-weight: bold;
  font-size: 12px;
}


ion-grid{
  width: 100%;
}

// ************* HEADER ************** //
// ion-toolbar {
//   background: --ion-color-step-50;
//   border-top-width: 0;
//   --background: --ion-color-step-50;
// }

ion-title {
  color: var(--ion-text-color);
  font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 19px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}
ion-menu-button{
  color: var(--ion-text-color);
}

