/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.setting-modal .modal-wrapper {
    --border-radius: 10px;
    --max-height: 75%;
    --max-width: 90%;
    --width: 90%;
    --height: 70%;
    top: 20%;
    // --ion-background-color:#f12000;
    // --border-style: dotted;
    // --border-color: #428cff;
    // border-width: 5px;
  }

.no-scroll {
    --overflow: hidden;
}

// CSS GLOBAL CUSTOM //
.ddp-status-0 {
  background-color: #7D199C;
  .letter {
    background-color: #A230D4;
  }
}

.ddp-status-100 {
  background-color: #BB7616;
  .letter {
    background-color: #E08001;
  }
}

.ddp-status-200 {
  background-color: #91A300;
  .letter {
    background-color: #B1CE00;
  }
}

.ddp-status-300 {
  background-color: #405BAD;
  .letter {
    background-color: #4675E2;
  }
}

.ddp-trash-1 {
  background-color: #704E2B;
  .letter {
    background-color: #705c48;
  }
}

