
<ion-item-sliding #slidingItem [attr.track]="request.nome | lowercase">
  <ion-item *ngIf="request" [routerLink]="'/date-request/' + request.id" routerDirection="forward" [detail]="false" lines="none" class="ddp-item">
    <ion-label class="ion-text-wrap">
      <div>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="8" class="padding-bottom">
              <div class="request_state ddp-hc ddp-status-{{request.status}} ddp-trash-{{request.trash}}"><span class="letter">{{request.chr_status}}</span>{{request.msg_status}}</div>
              <!-- <div class="request_state ion-text-start"><span class="letter">R</span>IN ATTESA DI RISPOSTA</div> -->
            </ion-col>
            <ion-col>
              <div class="ion-text-end"><span class="ddp-date">{{ dateRequest }}</span><span class="ddp-time">{{timeRequest}}</span></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <h3><strong class="d-block ion-color-step-150">{{request.nome}}</strong></h3>
      <h4 class="d-block ion-color-step-300">{{labelDateRequest}}</h4>
      <h4 class="ellipsis">{{ request.sede }}</h4>

    </ion-label>
  </ion-item>

  <!-- <ion-item-options>
    <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
      Favorite
    </ion-item-option>
    <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')"
      *ngIf="segment === 'favorites'">
      Remove
    </ion-item-option>
  </ion-item-options>  -->

  <ion-item-options side="start">
    <ion-item-option *ngIf="request && request.status == STATUS_200 && request.trash == false" color="primary" (click)="requestToBeArchived(slidingItem)">
      <ion-icon slot="icon-only" name="archive-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option *ngIf="request && request.trash == false && request.status !== STATUS_0" color="secondary" (click)="requestToBePrevious(slidingItem)">
      <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>


  <ion-item-options *ngIf="request && request.trash !== true" side="end">
    <ion-item-option color="danger" (click)="requestToBeTrashed(slidingItem)">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item-options *ngIf="request && request.trash == true" side="end">
    <ion-item-option color="tertiary" (click)="requestToBeRestored(slidingItem)">
      <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>


</ion-item-sliding>


  


  