<ion-header [translucent]="false" translucent="false"  class="ion-no-border">
  <ion-toolbar color="transparent">
    
    <!-- <ion-buttons slot="start">
        <ion-button color="dark" (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
    </ion-buttons> -->

    <ion-buttons slot="end">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-label *ngIf="request" slot="start" class="ddp-size12 ddp-light">RICHIESTA DEL: <span class="ddp-bold">{{ stringRequestTime }}</span></ion-label>
    <ion-title></ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" fullscreen="true" fullscreen *ngIf="request">
  <div class="ddp-panel">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-text-center">RICHIESTA CONSULENZA PER</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center ddp-light ddp-size20">lunedì</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center ddp-size90">21</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center ddp-light ddp-size20">settembre</ion-col>
      </ion-row>
      <ion-row >
        <ion-col class="ion-text-center">dalle 10:30 alle 13:30</ion-col>
      </ion-row>
      <ion-row class="ion-padding-top">
        <ion-col class="ion-text-center">
          <div class="request_state ddp-hc ddp-status-{{request.status}}"><span class="letter">{{request.chr_status}}</span>{{request.msg_status}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="ion-text-uppercase ion-text-left ddp-light ddp-size12">NOME</ion-col>
          <ion-col class="ion-text-left">{{request.nome}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="ion-text-uppercase ion-text-left ddp-light ddp-size12">EMAIL</ion-col>
          <ion-col class="ion-text-left">{{request.email}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-text-left ion-text-uppercase ddp-light ddp-size12">VOGLIO ESSERE CONTATTATO TRAMITE {{request.modalita}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="4" class="ion-text-uppercase ion-text-left ddp-light ddp-size12">TELEFONO</ion-col>
          <ion-col class="ion-text-left">{{request.telefono}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="4" class="ion-text-uppercase ion-text-left ddp-light ddp-size12">SKYPE</ion-col>
          <ion-col class="ion-text-left">{{request.skype}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-text-center ion-no-border">
  <ion-toolbar class="ion-text-center ion-no-border" color="transparent">
    <!-- <button ion-button (click)="Upload()"  full>Upload</button> -->
    <ion-button *ngIf="request && request.status == 0" color="primary" class="ion-text-uppercase ddp-hc" (click)="initModal()" >{{btnPreventivo}}</ion-button>
  </ion-toolbar>
</ion-footer>
